h1 {
    border: 2px #eee solid;
    color: brown;
    
    padding: 10px;
    margin: auto;
    
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}