{% extends 'base.html' %}

{% block content %}


<h1 class="text-center">List of Missing Inventory</h1>

<div class="container-fluid" >  
  <table data-toggle="table" data-classes="table table-hover table-condensed"  data-striped="false" data-pagination="false" data-sort-order="asc" data-search="true">
    <thead>
      <tr>
        <th data-sortable="true" scope="col">Content ID</th>
        <th data-sortable="true" scope="col">Order Number</th>
        <th data-sortable="true" scope="col">Tracking Number</th>
        <th data-sortable="true" scope="col">ASIN</th>
        <th data-sortable="true" scope="col">Description</th>
        <th data-sortable="true" scope="col">Damaged</th>
        <th data-sortable="true" scope="col">Missing</th>
        <th data-sortable="true" scope="col">User</th>
        
        
        
      </tr>
    </thead>
    <tbody>
        {% for result in results %}
      <tr>
        <td>{{result['contentid'] }} </td>
        <td>{{result['ordernumber'] }} </td>
        <td>{{result['trackingid'] }} </td>
        <td>{{result['asinid'] }} </td>
        <td>{{result['description'] }} </td>
        <td>{{result['damaged'] }} </td>
        <td>{{result['missing']}}</td>
        <td>{{result['user']}}Currently Adding Feature</td>
        
        

        </tr>

      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}