{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Enter a Tracking Number {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="trackingid">Tracking Number</label>
        <input type="text" name="trackingid"
               placeholder="Enter Tracking Number" class="form-control"
               value="{{ request.form['trackingid'] }}"></input>
    </div>   
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
