{% extends 'base.html' %}

{% block content %}

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Tracking Number</th>
            <th scope="col">Order ID</th>
            <th scope="col">Received</th>
            <th scope="col">List of items in tracking number</th>
          </tr>
        </thead>
        <tbody>
            {% for trackingNum in trackingNums %}
          <tr>
            
            <td><a href="{{ url_for('tracking', tracking_id=trackingNum['trackingid']) }}">{{trackingNum['trackingid']}}</a> </td>
            <td>{{trackingNum['invid']}}</td>  
            <td>{{trackingNum['received']}}<a href="{{url_for('tracking_edit', tracking_id=trackingNum['trackingid'])}}">
              <span class="badge badge-warning">Mark as received</span></td>

              {% if trackingNum['trackeditem'] == None %}
                <td>No items attached to tracking number<a href="{{url_for('tracking_addto', tracking_id=trackingNum['trackingid'])}}">
                  <span class="badge badge-warning">Add items to tracking number</span></td>
              {% else  %}
                <td><a href="{{ url_for('tracking', tracking_id=trackingNum['trackingid']) }}">Click for items</a><a href="{{url_for('tracking_addto', tracking_id=trackingNum['trackingid'])}}">
                  <span class="badge badge-warning">Add items to tracking number</span></td>
              {% endif %}
            
            </tr>
          {% endfor %}
        </tbody>
      </table>

      
      
{% endblock %}

