{% extends 'base.html' %}

{% block content %}

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">tracking num</th>
            <th scope="col">INvid</th>
            
            <th scope="col">Received</th>
          </tr>
        </thead>
        <tbody>
            {% for trackingNum in trackingNums %}
          <tr>
            
            <td><a href="{{ url_for('tracking_order_id', order_id=trackingNum['invid']) }}">{{trackingNum['trackingid']}}</a> <a href="{{url_for('tracking_edit', tracking_id=trackingNum['trackingid'])}}">
                <span class="badge badge-warning">Edit/Delete</span></td>
                <td>{{trackingNum['invid']}}</td>  
            
            <td>{{trackingNum['received']}}</td>
            
            </tr>
          {% endfor %}
        </tbody>
      </table>

      
      
{% endblock %}

