{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ product['asinid'] }}" {% endblock %}</h1>

<form method="post">
    

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Edit description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="picture">Picture</label>
        <textarea name="picture" placeholder="Edit picture"
                  class="form-control">{{ request.form['picture'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="hazardous">Hazardous</label>
        <textarea name="hazardous" placeholder="Is hazardous? Yes or no"
                  class="form-control">{{ request.form['hazardous'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="oversized">Oversized</label>
        <textarea name="oversized" placeholder="Is Oversized? Yes or no"
                  class="form-control">{{ request.form['oversized'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>
<form action="{{ url_for('product_delete', product_id=product['asinid']) }}" method="POST">
    <input type="submit" value="Delete Product"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this product?')">
</form>
{% endblock %}
