{% extends 'base.html' %}

{% block content %}
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Location ID</th>
            <th scope="col">Shelf ID</th>
            <th scope="col">Rack ID</th>
            <th scope="col">ASIN</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date Received</th>
            <th scope="col">expirationdate</th>

        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
      <tr>
        <td>{{ location['locationid'] }}</td>
        <td>{{ location['shelfid'] }} </td>
        <td>{{ location['rackid'] }}</td>
        <td>{{ location['asinid'] }}</td>
        <td>{{ location['quantity'] }}</td>
        <td>{{ location['datereceived'] }}</td>
        <td>{{ location['expirationdate'] }}</td>
                
        </tr>
      {% endfor %}
    </tbody>
  </table>

    

{% endblock %}




