<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/b-1.7.1/datatables.min.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap-table-sticky-header.css">
    <style>
      .container-fluid{
        background-color: rgb(252, 252, 252);
      }
      #dash{
        margin:10px; 
        padding: 40px 40px; 
        font-weight:bold; color:white; 
        background-color: rgb(25, 51, 83);
  }
       #dashdrop{
        margin:10px; 
        padding: 40px 40px; 
        font-weight:bold; color:white; 
  }
  
  @include media-breakpoint-between(xs,sm){
  .btn {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

      </style>
    
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    
    <nav class="navbar container-fluid navbar-expand-lg navbar-light" style="background-color: #416896;">
        <a class="navbar-brand" style='color:white;' href="{{url_for('dashboard')}}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" style='color:white;' id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Panel
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('create')}}">New Post</a>
                <a class="dropdown-item" href="{{url_for('view_posts')}}">View All Posts</a>
                <a class="dropdown-item" href="{{url_for('create_bin')}}">Create bins</a>
                <a class="dropdown-item" href="{{url_for('view_bin')}}">View/Delete bins</a>
                <a class="dropdown-item" href="{{url_for('product_create')}}">Add New ASIN</a>
                <a class="dropdown-item" href="{{url_for('view_product')}}">View/Manage ASINs</a>
                <a class="dropdown-item" href="{{url_for('missing_inventory')}}">Missing Inventory</a>
                
              </div>
            </li>
          </ul>
            
        </div>
        {% if session.logged_in%}   
        <a class="navbar-brand" style='color:white;' href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="navbar-brand" style='color:white;' href="{{url_for('register')}}">Register</a>   
        <a class="navbar-brand" style='color:white;' href="{{url_for('login')}}">Login</a>  
        {% endif %}   
      </nav>


    
    <div class="container-fluid">
	{% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-sticky-header.js"></script>
    

  </body>
</html>
