{% extends 'base.html' %}

{% block content %}

  <div class="text-center vh-100" style ="padding:20px 0px;" >
    <h1 class="text-center" >{% block title %} Welcome to SkuTracker {% endblock %}</h1>
    
    
    <div class="btn-group-vertical">

      {% if session.admin_role%}   
      <a href="{{url_for('create_order')}}" class = 'btn dash' >Create An Order</a>
      <a href="{{url_for('view_orders')}}" class = 'btn dash'  >View Orders/Add Tracking Number to Order</a>
      <a href="{{url_for('view_items')}}" class = 'btn dash'  >View Items in Warehouse/Create Pick List</a>
      

    
        <a role="group"  class="btn dash dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Warehouse Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="btn dropdown-item"  href="{{url_for('items_to_pick')}}">Pick List</a>
          <a class="btn dropdown-item"  href="{{url_for('items_to_bin')}}">Bin Items</a>
          <a class="btn dropdown-item"  href="{{url_for('start_receiving')}}">Warehouse Receiving</a>
        </div>
      

      {% else %}
      <a href="{{url_for('start_receiving')}}"  class="btn dash btn-secondary btn-lg">Warehouse Receiving</a>
      <a href="{{url_for('items_to_pick')}}"   class="btn dash btn-secondary btn-lg">Pick List</a>
      <a href="{{url_for('items_to_bin')}}"  class="btn dash btn-secondary btn-lg">Bin Items</a>
      
      {% endif %}   

     
      </div>

      
    </div>
    
{% endblock %}

