{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{% block title %} Welcome to SkuTracker {% endblock %}</h1>
    <h3 class="text-center"> You are viewing a list of all posts in the database</h3>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}

