{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Order {% endblock %}</h1>


<form method="post">
    <div class="form-group">
        <label for="asinid">ASIN</label>
        <input type="text" name="asinid"
               placeholder="Post asinid" class="form-control"
               value="{{ request.form['asinid'] }}"></input>
    </div>
    <div class="form-group">
        <label for="buyPrice">Buy Price</label>
        <textarea name="buyPrice" placeholder="Post buyPrice"
                  class="form-control">{{ request.form['buyPrice'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="sellPrice">Sell Price</label>
        <textarea name="sellPrice" placeholder="Post sellPrice"
                  class="form-control">{{ request.form['sellPrice'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="store">Store</label>
        <textarea name="store" placeholder="Post store"
                  class="form-control">{{ request.form['store'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="supplier">Supplier</label>
        <textarea name="supplier" placeholder="Post supplier"
                  class="form-control">{{ request.form['supplier'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <textarea name="quantity" placeholder="Post quantity"
                  class="form-control">{{ request.form['quantity'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="orderNumber">Order Number</label>
        <textarea name="orderNumber" placeholder="Post orderNumber"
                  class="form-control">{{ request.form['orderNumber'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="fullfillment">Fullfillment</label>
        <textarea name="fullfillment" placeholder="Post fullfillment"
                  class="form-control">{{ request.form['fullfillment'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="buyer">Buyer</label>
        <textarea name="buyer" placeholder="Post buyer"
                  class="form-control">{{ request.form['buyer'] }}</textarea>
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
