{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>


<form method="post">
    <div class="form-group">
        <label for="asinid">asinid</label>
        <input type="text" name="asinid"
               placeholder="Post asinid" class="form-control"
               value="{{ request.form['asinid'] }}"></input>
    </div>
    <div class="form-group">
        <label for="buyPrice">buyPrice</label>
        <textarea name="buyPrice" placeholder="Post buyPrice"
                  class="form-control">{{ request.form['buyPrice'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="sellPrice">sellPrice</label>
        <textarea name="sellPrice" placeholder="Post sellPrice"
                  class="form-control">{{ request.form['sellPrice'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="store">store</label>
        <textarea name="store" placeholder="Post store"
                  class="form-control">{{ request.form['store'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="supplier">supplier</label>
        <textarea name="supplier" placeholder="Post supplier"
                  class="form-control">{{ request.form['supplier'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="quantity">quantity</label>
        <textarea name="quantity" placeholder="Post quantity"
                  class="form-control">{{ request.form['quantity'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="orderNumber">orderNumber</label>
        <textarea name="orderNumber" placeholder="Post orderNumber"
                  class="form-control">{{ request.form['orderNumber'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="fullfillment">fullfillment</label>
        <textarea name="fullfillment" placeholder="Post fullfillment"
                  class="form-control">{{ request.form['fullfillment'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="buyer">buyer</label>
        <textarea name="buyer" placeholder="Post buyer"
                  class="form-control">{{ request.form['buyer'] }}</textarea>
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
